$screen-sm: 1440px; // Desktop Minimum Size
$screen-md: 1919px;
$screen-lg: 2300px; // Desktop Maximum Size

$white: #fff;
$black: #000;
$black-light: #222;
$gray-light: #999;
$gray: #666;
$gray-dark: #474747;
$red: #f00;
$line-gray: #ccc;
$line-gray-light: #eee;